<section>
    <div class="container">
  <form enctype="multipart/form-data" action="/admin/add-products" method="post">
  <div class="form-group mt-4">
    <label class="label">Name</label>
    <input type="text" name="Name" class="form-control adjust" placeholder="Enter name">
    <!--<small id="emailHelp" class="form-text text-muted">important</small>-->
  </div>
  <div class="form-group">
    <label class="label">Catagory</label>
    <input type="text" name="Catagory"class="form-control adjust" placeholder="Enter Catagory">
  </div>
   <div class="form-group mt-5">
    <label class="label">Description</label>
    <input type="text" name="Description" class="form-control adjust" id="exampleInputEmail1" placeholder="Enter Description">
  </div>
  <div class="form-group">
    <label class="label">Price</label>
    <input type="text" name="Price"class="form-control adjust" placeholder="Enter Price">
  </div>
  <form>
  <div class="form-group">
    <label class="label">Image</label>
    <input type="file" class="form-control-file enter" name="image">
  </div>
  <center>
  <button type="submit" class="btn btn-secondary label mt-4 ">Submit</button>
  </center>
</form>h
    </div>
</section>