<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand"id="main2heading"href="#">VEGANT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Admin panel<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">All Products</a>
          </li>
           <li class="nav-item">
            <a class="dropdown-item" href="/admin/userdetails">Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              data-bs-target="#navbarSupportedContent" aria-haspopup="true" aria-expanded="false">
             Orders
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
              <a class="dropdown-item" href="admin/orderdetails">Order Details</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="admin/shippingdetails">Shipping</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary btn btn-danger" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="true">
          {{#if user}}
          {{user.name}}
          {{else}}
          Account
          {{/if}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/admin/alogin">Login</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<style>
  #main2heading{
    color: green;
    font-weight: bold;
    

  }
</style>