<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/hello.css">
<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					
					<p>We believe the best way deliver a great user experience is by deeply understanding 
						what people want and love. Then deliver the features, messages, and content that
						are most helpful, relevant and timely. That's what makes users happy and 
						loyal, we strives to deliver the tools and support that helps companies
						deliver that great experience. We want our customers customers to be 
						happy, so then our customers are happy and that makes us happy.</p>
					
				</div>
				<div class="social">
					<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
					<a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="/image/img one.jpg">
			</div>
		</div>
	</div>
