<section class="container">
<div class="row">
  <section>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" id="blog12" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Login</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Login</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #blog12{
               background-image: url("/image/breadcrumb.jpg");
        }
    </style>
    
    <div class="col-md-6 m-auto">
<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
  <div class="form-group">  
    {{{{def logerror=null}}}}
    {{#if(logerror)}}
    <p class="error">invalid password or username</p>
    {{/if}}
    {{{{/def}}}}
    

    </div><center>
<label>Email address</label>
    <input name="mail" type="mail" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
   <br> <label>Password</label>
    <input name="password"type="password" class="form-control"placeholder="Password"><br>
    <a href="/signup">Create new account ?</a><br>
    <center>
    <button type="submit" class="btn btn-primary">Submit</button>
    </center>  
  </div>
  </center>
  
  </form>
</div>
</div>
</div>
</section>
