  <div class="container">
    <div class="row">
            <div class="for">
                <form action="/place-order" id="checkout-form">
                   
                        <h3>Enter Delivery Details</h3><br>
                        <label >Address</label><br>
                        <input id="address" name="address" type="text"><br>
                        <label>Pincode</label><br>
                        <input id="pincode" name="pincode" class="box" type="text"><br>
                        <label>Mobile</label><br>
                        <input id="mobile" name="mobile" class="box" type="text"><br>
                        <input type="text" name="userid" id="" value="{{user._id}}" hidden>
          
                   </div>
                      <div class="bor">
                   <div class="amt">
                    <h3>Total Amount: Rs {{Total}} </h3>
                    <hr>
                    
                        <label>Payment Method</label><br>
                        <input name="payment" type="radio" value="COD">COD<br>
                        <input name="payment" type="radio" value="Online Payment">Online payment<br>
                        <button class="butt" type="submit">Checkout</button>


                 </form>
            </div>
        </div>
    </div>
</div>
        {{!-- <style>
            .for{
    float: left;
    padding: 150px;
    width: 190px;
}
.box{
    width: 315px;
    border-radius: 6px;
}
.tbox{
    width: 315px;
    border-radius: 6px;
    height: 80px;
}
.amt{
    width: 242px;
    padding-left: 50px;
}
.bor{
    width: 253px;
    float: left;
    margin-top: 183px;
}
.butt{
    margin-left: 140px;
    color: white;
    background: #156bf2;
}
        </style> --}}
        
        <script>
            $("#checkout-form").submit((e)=>{
                e.preventDefault()
                $.ajax(
                    {
                        url:'/place-order',
                        method:'post',
                        data:$('#checkout-form').serialize(),
                        success:(response)=>{
                           if(response.codsuccess)
                           {
                            location.href='/order-success'
                           }
                           else{
                            razorpay123(response)
                           }
                        }
                    }
                )
            })
            function razorpay123(order)
            {
                console.log("hi")
                console.log(order.receipt)
                var options = {
    "key": "rzp_test_1exGQNVLgiKCey", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "VEGANT",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    },
    "handler": function (response){
    alert(response.razorpay_payment_id);
    alert(response.razorpay_order_id);
    alert(response.razorpay_signature);
    console.log(response)
   
   varifypay(response,order)
    }
   

};
  function varifypay(payment,order)
         {
            console.log("ivide vannu")
            $.ajax({
            
                url:'/varifypay',
                data:{
                    payment,
                    order
                },
                method:'post'
               
            })
         }
var rzp1 = new Razorpay(options);
rzp1.open();
            }
       
        </script>