<div class="row">
    
    <div class="col-md-6 m-auto">
<form method="post" action="/signup">
  <div class="form-group">
    <label>Name</label>
    <input name="name"type="text" class="form-control" placeholder="Enter Name">
   <br> <label>Mobile No</label>
    <input name="mob" type="password" class="form-control"placeholder="Enter Mobile Number"><br>
    <label>Email address</label>
    <input name="mail"type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email">
   <br> <label>Password</label>
    <input name="password"type="password" class="form-control"placeholder="Password"><br>
    <a href="/login">Already have a account ?</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>
</div>
